/* Global Styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    margin: 0;
    font-size: 64px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
h2 {
    font-size: 40px;
    color: #451400;
    font-family: 'Inter', sans-serif;
}
h3 {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    
}
.serif {
    font-family: serif;
    font-weight: bolder;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
} 

/* Layout  */
.flex-container, .row {
    display: flex;
    flex: 1 auto;
    max-width: 1112px;
    margin-left: auto;
    margin-right: auto;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.container {
    max-width: 1112px;
    margin-left: auto;
    margin-right: auto;
}
.col-lg-12 {
    flex-basis: 100%;
    padding: 0 8px;
}
.col-lg-10 {
    flex-basis: 83.334%;
    padding: 0 8px;
}
.col-lg-8 {
    flex-basis: 66.667%;
    padding: 0 8px;
}
.col-lg-6 {
    flex-basis: 50%;
    padding: 0 15px;
}
.col-lg-4 {
    flex-basis: 33.3333%;
    padding: 0 8px;
}
.col-lg-2 {
    flex-basis: 16.66%;
    padding: 0 8px;
}
.social {
    min-width: 323px;
}

/* Alignment */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.align-center {
    align-items: center;
}
.align-right {
    margin-left: auto;
}
.align-left {
    
    margin-right: auto;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.margin-right {
    margin-right: 100px;
}



/* components */
.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 7px #00000022;
    background-color: rgb(253, 253, 253);
    padding: 8px 32px;
    align-items: center;
}
.logo {
    min-width: 80px;
}
.nav-link {
    /* Font is inter */
    font-family:  sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding: 0 45px;
    color: black;
    text-transform: uppercase;
}
.hero-image {
    display: flex;
    align-items: center;
    background-image: url('../images/hero_image.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 644px;
    padding: 48px 32px;
}
.section-1-image {
    display: flex;
    align-items: center;
    background-image: url('../images/beans_2.jpg');
    background-position: top;
    background-size: 90%;
    background-repeat: repeat-x;
    padding: 48px 32px;

}
.section-2-image {
    display: flex;
    align-items: center;
    background-image: url('../images/bike_2.jpg');
    background-position: top;
    background-size: 90%;
    background-repeat: repeat-x;
    padding: 48px 32px;
    margin-bottom: 80px;
}
.section-3-image {
    display: flex;
    align-items: center;
    background-image: url('../images/coffee_mugs.jpg');
    background-position: top;
    background-size: 60%;
    background-repeat: repeat-x;
    padding: 48px 32px;
}
.menu-item-card {
    display: flex;
    background-color: white;
    max-width: 500px;
    max-height: 233px;
}   
.btn {
    display: inline-block;
    padding: 14px 29px;
    color: white;
    background-color: #42272A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    border-radius: 15px;
}
.border-radius {
    border-radius: 15px;
}


/* spacing */
.margin-bottom-lg {
    margin-bottom: 40px;
}
.no-pad {
    padding: 0;
}
.px-3 {
    padding-left: 150px;
    padding-right: 150px;
}
.padding-elements {
    padding-left: 30px;
    padding-right: 150px;
}
.py-5 {
    padding-top: 77px;
    padding-bottom: 77px;
}
.h-menu {
    display: none;
    
}
.card-text {
    padding-left: 10px;
}
.margin-bottom-sm {
    margin-bottom: 39px;
}
.padding-right {
    padding-right: 100px;
}
.margin-bottom-btn {
    margin-bottom: 120px;
}
.margin-zero {
    margin: 0;
}

@media(max-width: 1200px){
    .padding-right {
        padding-right: 50px;
    }
}

@media(max-width: 768px){
    .nav {
        display: none;
    }
    .header {
        padding: 8px 32px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
    .h-menu {
        display: inline-block;
    }
    .col-md-12 {
        flex-basis: 100%;
        justify-content: center;
    }
    .align-right {
        margin-right: 0;
        margin-left: auto;
    }
    .px-3 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .py-5 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .margin-bottom-lg {
        margin-bottom: 20px;
    }
    .section-1-image {
        background-size: 200%;
        margin-bottom: 30px;
    }
    .section-2-image {
        background-size: 200%;
        margin-bottom: 10px;
    }
    .section-3-image { 
        background-size: 200%;
        margin-bottom: 10px;
    }
    .btn {
        font-size: 15px;
        border-radius: 15px;
    }
    .mobile-resize {
        margin-right: 30px;
        margin-left: 30px;
    }
    .hero-image {
        min-height: 500px;
        padding: 0px 32px;
    }
   
    .padding-bottom {
        padding-bottom: 20px;
    }
    .align-left {
        margin: 32px;
    }
    .padding-elements {
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-lg-8 {
        flex-basis: 100%;
        padding: 0 0px;
    }
    
    
}
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: 0 !important;
}
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: #2b1114;
    overflow: hidden;
    transition: .5s;
}
.side-menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 16px;
    transition: .5s;
    z-index: 999999;
}
.menu-links {
    transition: 3s;
}
